[submodule "src/dotnet-core-api"]
	path = src/dotnet-core-api
	url = https://github.com/HanezJr21/dotnet-core-api.git
[submodule "src/dotnet-test-pipeline"]
	path = src/dotnet-test-pipeline
	url = https://github.com/HanezJr21/dotnet-test-pipeline.git
